:root {
    --yellow: rgb(231, 195, 15);
    --black: rgb(39, 38, 34);
}

header{
    color: black;
    background-color: rgb(231, 195, 15);
}

body {
    background-color: var(--black);
    color: white;
    
}

#constructionListBox{
    height: auto;
    width: 90VW;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#constructionListTitleBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




td {
    width: auto;
    padding: 5px;
    height: 40px;
    border: 2px solid white;
}


#expensesListBox{
    height: auto;
    width: 90VW;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#expensesListTitleBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plusButton2{
    height: 50px;
    width: 50px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-yellow {
    height: 50px;
    width: 200px;
    background-color: var(--yellow);
    color: var(--black);
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#delete:hover{
    color: red;
    border: none;
    background-color: pink;
    border-radius: 10%;
}

#delete{
    color: black;
    border: none;
    background-color: var(--black);
    border-radius: 10%;
}

.noBorder{
    border: none;
}